# Binaries
a.out
myteams_server
myteams_cli
libxml3.so

# Objects
*.o

# Tests
*.gcda
*.gcno

# Resources
resources/
server_data.xml

# Jetbrains
compile_commands.json
.idea/

# Visual Studio Code
.vscode/
